<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chicago Transit Crime Visualizations</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Chicago Transit</h1>
            <h1>Crime Visualizations</h1>
        </div>
        <h3>Who We Are</h3>
        <p>We're a group of data explorers brought together through <a href="https://chihacknight.org">Chi Hack Night</a>, and we're focusing on crime that occurs on the L (Chicago's public transit train system).</p>

        <br>
        <br>
        <h3>Interactive visualization</h3>
        <p>Curious about crime at the CTA stops that you use most?</p>
        <p>Check out our interactive app that shows crime data at different CTA stops: <a href="{{ url_for('static', filename='heatmap.html') }}">Interactive map</a>.</p>

        <br>
        <br>
        <h3>Our analysis (work-in-progress)</h3>
        <ul>
            <!-- <li><a href="{{ url_for('static', filename='heatmap.html') }}">Crime at CTA stations</a></li> -->
            <li><a href="{{ url_for('static', filename='analysis_examples.html') }}">Sample Graphs</a></li>
        </ul>
        <br>
        <br>
        <h3>Our datasets</h3>
         We're planning to release our datasets soon.

         <br>
         <br>
         <h3>Contact</h3>
         <ul>
             <li>Website maintainer: Andrew Lai.</li>
             <li>andrew.s.lai5 at gmail.com</li>
         </ul>


    </div>
</body>
</html>
